<div class="all-container">
    <section class="main-view" id="peliculas"  #peliculasSection>
        <div class="title-container">
            <h3>Movies</h3>
            <div class="filter">
                <select name="filter"  [(ngModel)]="filterType" (change)="onfilterChange()">
                    <option value="relevance">Relevance</option>
                    <option value="name">Name</option>
                    <option value="new">New</option>
                </select>
            </div>
        </div>
        <div class="movies-cards-container">

            <div class="movie-card" *ngFor="let movie of filteredMoviesList">
                <div class="img-card-container" [routerLink]="['/movie', movie.id]">
                    <img src="{{movie.img}}" alt="" class="img-card"  >
                    <div class="card-info-container">
                        <p>
                           {{movie.description}}
                        </p>
                    </div>
                </div>
                <div class="div">
                    <span class="title link"  [routerLink]="['/movie', movie.id]">{{movie.title}} </span>
                    <div class="div-row">
                        <button class="btn-add" title="agregar a lista" (click)="toggleLocalStorage(movie.id, movie.title, movie.img)">
                            <span class="mas">{{isInLocalStorage(movie.id) ? '-' : '+'}}</span>
                            {{isInLocalStorage(movie.id) ? 'Remove' : 'Add'}} List
                        </button>
                        <i class="fa-regular fa-star">{{movie.rating}} </i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>